<!DOCTYPE html>

<html>

<head>
    <title>Weather App</title>
    <link rel ="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main">
        {{>header}}
    </div>
        <form>
            <input>
            <button>Search</button>
        </form>
        <p id="m1"></p>
        <p id="m2"></p>
{{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>